<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Enquête Data SNT{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/loupe_favicon.png') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <img type="image/png" src="{{ image }}"/><h1>{% block header_title %}{% endblock %}</h1>
        </header>
        {% block body %}{% endblock %}
        <footer>
            Portage et adaptation numérique réalisé par <a href="https://gitlab.com/Nat-Faeeria">Nathanaël Gimenez</a> pour des classes de Secondes (SNT)<br/>
            Activité originale trouvable <a href="https://members.loria.fr/MDuflot/files/med/enquete.html">ici</a><br/>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </footer>
    </body>
</html>
