{# templates index.html.twig #}
{% extends 'base.html.twig' %}

{% set image=asset('img/detective_64.png')%}
{% block header_title %}
    Enquete Data SNT
{% endblock %}

{% block body %}
    <section id="texte-presentation">
        <div>
            Alerte à l'Université ! <br/>
            Un photomontage d'une prof circule sur les réseaux sociaux.<br/>
            Vous devez trouver le coupable.<br/>
            Nous avons besoin de vous, Data Detective Agency !
        </div>
        <a href="./page1">
            Commencer
        </a>
    </section>
{% endblock %}