{# templates index.html.twig #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/page1.js') }}" defer></script>
{% endblock %}

{% set image=asset('img/gym_64.png')%}
{% block header_title %}
    Un peu d'entraînement pour commencer
{% endblock %}
{% block body %}
    <template id="instructions-template">
        <span style="display: none" id="page-number" pageNumber="0"></span>
        <h2 id="instructions-title"></h2>
        <p id="instructions-content"></p>
    </template>
    <section id="main-section">
        <div id="center-container">
            <aside id="left">
                <div id="text-to-change"></div>
                <div id="bottom-buttons">
                    <button class="nav-buttons" onclick="previousQuestion()">
                        Précédent
                    </button>
                    <button class="nav-buttons" onclick="nextQuestion()">
                        Suivant
                    </button>
                </div>
            </aside>
            <section id="terminal">
                <textarea id="input"></textarea>
                <button id="send-button" onclick="sendRequest()">Envoyer</button>
                Résultats :
                <textarea id="output" readonly></textarea>
            </section>
        </div>
        <section id="bottom-section">
            <div>
                <h2>La base de données</h2>
                <ul>
                    <li>Les étudiants, avec pour chacun le numéro d’étudiant, son nom, son prénom et son genre (féminin ou masculin)</li>
                    <li>Les programmes d’enseignement à savoir la filière (informatique, physique, biologie,... ), le niveau(de L1 à M2), la matière et le nombre d’heures par semaine</li>
                    <li>Les inscriptions répertoriant le numero d’étudiant, l’année d’inscription, la filière et le niveau</li>
                    <li>Les diplômes obtenus avec pour chacun le numéro du diplôme, le numéro d’un étudiant, la date d’obtention, la filière, le niveau et la mention</li>
                    <li>Les livres disponibles à la bibliothèque avec pour chacun le titre, l’auteur et le nombre de pages</li>
                    <li>Les emprunts à la bibliothèque caractérisés par le titre, le numéro d’étudiant, la date d’emprunt et la date de retour (vide tant que le livre n’a pas été rendu)</li>
                </ul>
            </div>
            <div>
                Ces informations sont stockées en plusieurs parties appelées “tables” qui stockent chacune une partie de ces informations :
                <ul>
                    <li>Etudiants: num_et, nom, prenom, genre</li>
                    <li>Programme: filiere, niveau, matiere, nb_heures</li>
                    <li>Inscriptions: num_et, annee, filiere, niveau</li>
                    <li>Emprunts: titre, num_et, date_emp, date_ret</li>
                    <li>Livres: titre, auteur, nb_pages</li>
                    <li>Diplomes: num_diplome, num_et, date_d, filiere, niveau, mention</li>
                </ul>
            </div>
        </section>
{% endblock %}