{# templates page2.html.twig #}
{% extends 'page1.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/page2.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/page2.js') }}" defer></script>
{% endblock %}

{% set image=asset('img/search_64.png')%}
{% block header_title %}
    Passons aux choses sérieuses !
{% endblock %}